In [1]:
print("Hello World")

Hello World

In [2]:
a=10
b=20
print("The Sum:", a+b)

The Sum: 30

### Identifier

A name in a Python program is called an identifier.
It can be a class name or function name or module name or variable name.

#### Rules to define identifiers in Python:

1. **Allowed Characters:**
   - Alphabet symbols (either lower case or upper case)
   - Digits (0 to 9)
   - Underscore symbol (_)
   - If any other symbol is used, like `$`, a syntax error will occur.
   
   ```python
   cash = 10   # Valid
   Ca$h = 20   # Invalid9
d
 X`)
_)

In [3]:
123total = 10  # Invalid
Total123 = 20  # Valid

SyntaxError: invalid decimal literal (4160958632.py, line 1)

In [4]:
total = 10
TOTAL = 999
print(total)  # Output: 10
print(TOTAL)  # Output: 999

10
999

In [5]:
a=10 #This is an identifier

### Data Types

There are eight kinds of types supported by Python:

1. **bool:** Boolean (true/false) types. Supported precisions: 8 (default) bits.
2. **int:** Signed integer types. Supported precisions: 8, 16, 32 (default), and 64 bits.
3. **uint:** Unsigned integer types. Supported precisions: 8, 16, 32 (default), and 64 bits.
4. **float:** Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision
floating point.
5. **complex:** Complex number types. Supported precisions: 64 (32+32), 128 (64+64, default) bits, and
extended precision complex.
6. **string:** Raw string types. Supported precisions: 8-bit positive multiples.
7. **time:** Data/time types. Supported precisions: 32 and 64 (default) bits.

In [6]:
# bool, int, float, str

a="Data Science"
print(a)
type(a)

Data Science

str

In [7]:
z=True
type(z)

bool

### Type Casting:

The conversion of one data type into the other data type is known as type casting in Python or type
conversion in Python.

In [8]:
# bool -> int -> float -> str
True + 6 + 7.5

#1+6+7.5

14.5

In [9]:
int(7.9)+3

10

In [10]:
bool(0)

False

In [11]:
# Auto Typecasting:

True + 3 + int(4.5)

8

In [12]:
a=3
b=4.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [13]:
a+int(b)

7

In [14]:
3+int("4")

7

In [15]:
3+float("4.5")

7.5

In [16]:
# True -> 1, False -> 0
False + 4

4

### Conversion to `int`

In [17]:
print(int(123.987))

print(int(True))
print(int(0))
print(int(False))
print(int("10"))

123
1
0
0
10

In [18]:
print(int(10+5j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
print(int("10.5"))

In [ ]:
print(int("ten"))

In [ ]:
print(int("0B1111"))

### Conversion to `float`

In [ ]:
print(float(10))      # 10.0 
print(float(True))      # 1.0
print(float(False))      # 0.0
print(float("10"))      # 10.0
print(float("10.5"))      # 10.5

In [ ]:
float(10 + 5j) # TypeError: can't convert complex to float

In [ ]:
float("ten")       # ValueError: could not convert string to float: 'ten'

In [19]:
float("0B1111")    # ValueError: could not convert string to float: '0B1111'

ValueError: could not convert string to float: '0B1111'

### Conversion to `bool`

In [20]:
print(bool(0)        )    # False
print(bool(1)        )    # True
print(bool(10)       )    # True
print(bool(10.5)     )    # True
print(bool(0.178)    )    # True
print(bool(0.0)      )    # False
print(bool(10 - 2j)  )    # True
print(bool(0 + 1.5j) )    # True
print(bool(0 + 0j)   )    # False
print(bool("True")   )    # True
print(bool("False")  )    # True
print(bool("")       )    # False

False
True
True
True
True
False
True
True
False
True
True
False

### String Indexing and Slicing

In [21]:
a = "I am a Data Scientist"  # Indexing starts from 0. Example: 'I' is index 0, ' ' is index 1, 'a' is index 2, and so on.
a                             # 'I am a Data Scientist'

'I am a Data Scientist'

In [22]:
a[2:4]                        # 'am'
                              # It will print letters which are at index 2 and 3, excluding index 4.

'am'

In [23]:
a[-9:]                        # 'Scientist'
                              # From index -9, it prints all letters including the word at index 9.

'Scientist'

In [24]:
a[7:]                         # 'Data Scientist'
                              # Slicing from index 7 (inclusive) till the end.

'Data Scientist'

### Explanation:

1. **Conversion to `float`:**
   - Demonstrates how different types (integers, booleans, strings) can be converted to floats and what errors may occur.
   
2. **Conversion to `bool`:**
   - Shows how different values (numbers, strings, complex numbers) are evaluated to booleans in Python.
   
3. **String Indexing and Slicing:**
   - Explains various ways to access and slice strings using indexing in Python.

In [25]:
# Slicing a list 
my_list=[1,2,3,4,5,6,7,8,9,10]

# Get a slice of the list from index 2 to index 6 (exclusive)

slice_1=my_list[2:6]
print(slice_1) #Output: [3, 4, 5, 6]

# Get a slice of the list from index 1 to the end

slice_2=my_list[1:]
print(slice_2) #Output: [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Get a slice of the list from the beginning to index 5 (exclusive)

slice_3=my_list[:5]
print(slice_3) #Output: [1, 2, 3, 4, 5]

# Get a slice of the list with a step size of 2

slice_4=my_list[::2]
print(slice_4) #Output: [1, 3, 5, 7, 9]

[3, 4, 5, 6]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]

In [26]:
# Slicing with negative indices

my_list=[1,2,3,4,5,6,7,8,9,10]

# Get a slice of the list from the second last element to the end
slice_8=my_list[-2:]

print(slice_8)

# Get a slice of the list from the beginning to the third last element (exclusive)

slice_9=my_list[:-3]

print(slice_9)

# Get a slice of the list in reverse order

slice_10=my_list[::-1]

print(slice_10)

[9, 10]
[1, 2, 3, 4, 5, 6, 7]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Math operators: Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations

In [27]:
print(10 + 4)   # Adds 10 and 4, resulting in 14
print(10 - 4)   # Subtracts 4 from 10, resulting in 6
print(10 * 4)   # Multiplies 10 by 4, resulting in 40
print(10 ** 4)  # Raises 10 to the power of 4, resulting in 10000
print(10 / 4)   # Divides 10 by 4, resulting in 2.5
print(5 % 4)    # Computes the remainder of 5 divided by 4, resulting in 1

14
6
40
10000
2.5
1

### Math operators: Logical / Comparison

Logical operators are used to combine conditional statements while Comparison operators are used to compare two values.

In [28]:
# Comparisons (these return True)

print(5>3)
print(5>=3)
print(5!=5)
print(5==5) #boolean operations (these return True)

True
True
False
True

### Equality Operators

== , !=
We can apply these operators for any type even for incompatible types als

In [29]:
10==20

False

In [30]:
10!=20

True

In [31]:
10==True

False

In [32]:
False==False

True

In [33]:
"durga"=="durga"

True

In [34]:
10=="durga"

False

### Logical Operators
`and`, `or`, `not`

#### Boolean Types Behavior

- `and`: If both arguments are `True`, then the result is `True`
- `or`: If at least one argument is `True`, then the result is `True`
- `not`: Complement of the boolean value
- `True and False` ⇒ `False`
- `True or False` ⇒ `True`
- `not False` ⇒ `True`

#### Non-Boolean Types Behavior

- `0` means `False`
- Non-zero values mean `True`
- An empty string is always treated as `False`

In [35]:
# Logical AND operator

a=10
b=20

if a>0 and b>0:
    print("Both a and b are greater than 0")

Both a and b are greater than 0

In [36]:
# Logical OR operator
a=10
b=-5
if a>0 or b>0:
    print("Either a or b is greater than 0")

Either a or b is greater than 0

In [37]:
# Logical NOT operator

a=True
if not a:
    print("a is False")
else:
    print("a is True")

a is True

### Bitwise Operators

- **Bitwise AND (`&`):**
  Sets each bit to 1 if both corresponding bits are 1, otherwise sets it to 0.

- **Bitwise OR (`|`):**
  Sets each bit to 1 if at least one of the corresponding bits is 1, otherwise sets it to 0.

- **Bitwise XOR (`^`):**
  Sets each bit to 1 if only one of the corresponding bits is 1, otherwise sets it to 0.

- **Bitwise NOT (`~`):**
  Flips the bits, changing 1 to 0 and 0 to 1.

- **Left Shift (`<<`):**
  Shifts the bits of the number to the left by the specified number of positions.
  The leftmost bits are filled with zeros.

- **Right Shift (`>>`):**
  Shifts the bits of the number to the right by the specified number of positions.
  The rightmost bits are filled with zeros for non-negative numbers and with ones for negative numbers (arithmetic right shift).

In [38]:
# Bitwise AND
a=12 #1100 in binary
b=7  #0111 in binary
result=a&b # 0100 in binary
print(result) #Output: 4

4

In [39]:
# Bitwise XOR

a=12 #1100 in binary
b=7  #0111 in binary
result=a^b # 0100 in binary
print(result) #Output: 11

11

In [40]:
# Bitwise OR

a=12 #1100 in binary
b=7  #0111 in binary
result=a|b # 0100 in binary
print(result) #Output: 15

15

In [41]:
# Bitwise NOT

a=12 #1100 in binary
result=~a # -13 in decimal
print(result) #Output: -13

-13

In [42]:
# Left Shift
a=5 #0101 in binary
result=a<<2 #010100 in binary, equivalent to 20 in decimal
print(result) #Output: 20

# Right Shift
a=13 #1101 in binary
result=a>>2 # 0011 in binary, equivalent to 3 in decimal
print(result) #Output: 3

20
3

In [43]:
# Assignment operator

x=10
print(x) #Output: 10

10

In [44]:
# Addition assignment

x+= 5 # Equivalent to x=x+5
print(x) # Output: 15

15

In [45]:
# Substraction assignment
x-=3 # Equivalent to x=x-3
print(x) # Output: 12

12

In [46]:
# Multiplication assignment
x*=2 # Equivalent to x=x*2
print(x) # Output=24

24

In [47]:
# Division assignment

x/=4 # Equivalent to x=x/4
print(x) # Output: 6.0

6.0

In [48]:
# Modulus assignment

x %=3 # Equivalent to x= x%3

print(x) #Output: 0.0

0.0

In [49]:
# Exponentiation assignment
x **=2 #Equivalent to x=x**2
print(x) # Output: 0.0

0.0

In [50]:
# Floor division assignment
x//=3 #Equivalent to x=x//3
print(x) #Output: 0

0.0

In [51]:
# Aritmetic operators

x = 10 + 5        # Adds 10 and 5, resulting in 15
print(x)

y = 10 - 5        # Subtracts 5 from 10, resulting in 5
print(y)

z = 10 * 5        # Multiplies 10 by 5, resulting in 50
print(z)

w = 10 / 5        # Divides 10 by 5, resulting in 2.0
print(w)

mod = 10 % 5      # Computes the remainder of 10 divided by 5, resulting in 0
print(mod)

exp = 10 ** 3     # Raises 10 to the power of 3, resulting in 1000
print(exp)

floor_div = 10 // 3  # Performs floor division of 10 by 3, resulting in 3
print(floor_div)

15
5
50
2.0
0
1000
3

In [52]:
# Assignment operators

a = 5       # Initialize 'a' with 5
a += 3      # Increment 'a' by 3 (a = a + 3), resulting in 8
print(a)

b = 5       # Initialize 'b' with 5
b -= 3      # Decrement 'b' by 3 (b = b - 3), resulting in 2
print(b)

c = 5       # Initialize 'c' with 5
c *= 3      # Multiply 'c' by 3 (c = c * 3), resulting in 15
print(c)

d = 5       # Initialize 'd' with 5
d /= 3      # Divide 'd' by 3 (d = d / 3), resulting in approximately 1.6667
print(d)

e = 5       # Initialize 'e' with 5
e %= 3      # Assign the remainder of 'e' divided by 3 to 'e' (e = e % 3), resulting in 2
print(e)

f = 5       # Initialize 'f' with 5
f **= 3     # Raise 'f' to the power of 3 (f = f ** 3), resulting in 125
print(f)

g = 5       # Initialize 'g' with 5
g //= 3     # Perform floor division on 'g' by 3 (g = g // 3), resulting in 1
print(g)

8
2
15
1.6666666666666667
2
125
1

In [53]:
# Comparison operators
x=5         
y=10         
print(x==y)  #Output: False        
print(x!=y)  #Output: True       
print(x>y)   #Output: False      
print(x<y)   #Output: True      
print(x>=y)  #Output: False       
print(x<=y)  #Output: True

False
True
False
True
False
True

In [54]:
# Logical Operators

a= True
b= False

print(a and b)  #Output: False
print(a or b)  #Output: True
print(not a)  #Output: False

False
True
False

In [55]:
# Bitwise operators
x = 10   # Initialize 'x' with 10 (binary: 1010)
y = 7    # Initialize 'y' with 7 (binary: 0111)

print(x & y)   # Bitwise AND: 10 & 7 -> 2 (binary: 0010)
print(x | y)   # Bitwise OR: 10 | 7 -> 15 (binary: 1111)
print(x ^ y)   # Bitwise XOR: 10 ^ 7 -> 13 (binary: 1101)
print(~x)      # Bitwise NOT: ~10 -> -11 (binary: 1010 becomes 0101 with inversion, then 2's complement)
print(x << 2)  # Left Shift: 10 << 2 -> 40 (binary: 1010 becomes 101000)
print(x >> 2)  # Right Shift: 10 >> 2 -> 2 (binary: 1010 becomes 10)

2
15
13
-11
40
2